.form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
  }

  #message-height{
    height:250px;
    vertical-align: top;
    line-height: normal;
  }

  @media (max-width: 912px) {
    .form input {
        width: 90%;
      }
}