footer {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    padding: 10px 5px;
    background-color: #7F8481;
}

.linkedin {
    padding-right: 50px;
}

.github{
    color: black;
}

.header-nav-color{
    background-color: #7F8481;
}