footer {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    padding: 10px 5px;
    background-color:#A3BBAD;
}

.linkedin {
    padding-right: 50px;
}

.github{
    color: black;
}

#header-title{
text-align: center;
}

.header-nav-color{
    background: linear-gradient(to right,blue, aqua, blue);
    margin-bottom: 0;
}
