.portfolio-info{
    text-align: center;
    margin:2%;
    background-color: rgb(207, 224, 229);
    border-radius: 20%;
}
.portfolio-item{
    padding:0px;
}
.portfolio-background{
    margin:2%;
}

.portfolio-links{
    width: 100%;
}

.portfolio-links a{
    display: inline-block;
    margin: 0 20px 20px 20px;
}

#portfolio{
    color:white;
    font-weight: bold;
  }