#margin-resume{
    margin-bottom: 0px;
}

#resume-download{
    margin: 20px 0px 15px 0px;
    font-size: 18px;
    font-style: italic;
    color: red;
    text-align: center;
}

#resume-list{
    color: white;
}


#resume{
    color:white;
    font-weight: bold;
  }

div h5 ul li {
    font-size: 16px;
}