#margin-resume{
    margin-bottom: 0px;
}

#resume-download{
    margin: 20px 0px 15px 0px;
    font-size: 22px;
    font-style: italic;
    color: red;
    text-align: center;
}

#resume-list{
    color: white;
}

.resume-titles{
    font-size: 24px;
    font-style: italic;
}
#resume{
    color:white;
    font-weight: bold;
  }

.list-resume-bullets{
    font-size: 18px;
}

